# Frontend
FRONTEND_URL=http://localhost:3001

# PostgreSQL
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=changeme_min_32_chars_bardzo_dlugi_string

# MinIO
MINIO_USER=
MINIO_PASSWORD=

# Gmail (opcjonalne)
GMAIL_USER=
GMAIL_PASSWORD=