@import '@fontsource-variable/inter';
@import 'tailwindcss';

@theme {
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';

	--animate-wiggle: wiggle 1s ease-in-out infinite;

	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-10deg);
		}
		25% {
			transform: rotate(10deg);
		}
		50% {
			transform: rotate(-6deg);
		}
		75% {
			transform: rotate(6deg);
		}
	}
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
